<nav class="navbar navbar-expand-lg" style="background: linear-gradient(90deg, #007bff 0%, #00c6ff 100%);">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <span class="fw-bold px-4 py-2 fs-3 text-white shadow-lg" style="background: linear-gradient(90deg, #007bff 0%, #00c6ff 100%); border-radius: 2rem; letter-spacing:3px; box-shadow: 0 4px 20px rgba(0,123,255,0.15); font-family: 'Montserrat', sans-serif; font-weight:900; font-size:2rem;">ESA</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" asp-controller="Product" asp-action="Index">Products(@await Component.InvokeAsync("ProductSummary"))</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" asp-page="/Contact">Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" asp-area=""
            asp-page="/Cart">
            <i class="fa-solid fa-cart-shopping"></i>
            Sepetim(@await Component.InvokeAsync("CartSummary"))</a>
        </li>
        <partial name="_LoginMenu" />
      </ul>
    </div>
  </div>
</nav>